.student {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
  border-bottom: solid 1px #0000002e;
  padding: 0 2%;
}

.picture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: solid 1px #0000002e;
  background-color: transparent;
  overflow: hidden;
}

.studentDetails {
  margin-left: 2%;
  text-align: left;
  flex: 1 1 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  font-size: 30px;
  font-weight: 900;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: #ccc;
}
.button:focus,
.button:hover {
  background-color: #eee;
}

.studentDetails .name {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.5rem 0;
  font-size: 32px;
}
.studentDetails .infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #111;
  padding-left: 5%;
  line-height: 1.6;
  margin-bottom: 0.67em;
}
.accordion {
  grid-column: 2;
  grid-row: 2;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  overflow: hidden;
}
.accordionOpen {
  animation-name: accordionOpen;
  animation-duration: 500ms;
}
.accordionClose {
  animation-name: accordionClose;
  animation-duration: 300ms;
}
@keyframes accordionOpen {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes accordionClose {
  from {
    height: 100%;
  }
  to {
    height: 10%;
  }
}

.addTag {
  margin-left: 2%;
  margin-bottom: 2%;
  padding-left: 5%;
  text-align: left;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}
.tags {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.tag {
  width: fit-content;
  padding: 10px 8px;
  background-color: #eee;
  border-radius: 5px;
  margin: 0 3px;
}
.tagInput {
  border: none;
  border-bottom: solid 1px #0000002e;
  text-decoration: none;
  margin: 10px 0;
  padding-bottom: 8px;
  font-size: 18px;
  font-family: "Raleway";
  outline: none;
}
.tagInput:focus {
  border-bottom-color: #111;
}
