.App {
  text-align: center;
  height: 70vh;
  margin: 10% 20%;
  background-color: #fff;
  border-radius: 10px;
  border: solid 2px #0000002e;
  box-shadow: 0px 1px 3px #0000002e;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}
::-webkit-scrollbar {
  display: none;
}
